<a href="https://colab.research.google.com/github/ahmadnoor-276/DataScience/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

#Making a strucured data using DataFrame function of Pandas
d = {'col1' : [1,2,3,4,5],
       'col2' : [6,7,8,9,10],
       'col3' : [11,12,13,14,15]
       }

df = pd.DataFrame(data = d)

#Printing the Structured
print(df)

#Calculating the number of row and columns of the Data
no_of_rows = df.shape[0]
no_of_cols = df.shape[1]

#Printing the rows and columns
print("\n")
print("Number of rows: ", no_of_rows)
print("Number of columns: ", no_of_cols)

#Calculating the Min and Max in Column3
min_number = min(d['col3'])
max_number = max(d['col3'])

#Printing the min and max number
print("\n")
print("Minimum number in Column3: ", min_number)
print("Maximum number in Column3: ", max_number)

#Calculating the mean value
col3_mean = np.mean(d['col3'])
whole_mean = df.mean().mean()

#Printing the mean value
print("\n")
print("Mean of Column3 is: ", col3_mean)
print("Mean of whole DataFrame is: ", whole_mean)

   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15


Number of rows:  5
Number of columns:  3


Minimum number in Column3:  11
Maximum number in Column3:  15


Mean of Column3 is:  13.0
Mean of whole DataFrame is:  8.0

In [5]:
#Reading and Cleaning Data from CSV file

#Giving the path of uploaded file and header=0 means that columns name are on 1st row
data_set = pd.read_csv("/content/data.csv.txt", header = 0, sep = ",")

print(data_set)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [8]:
#Cleaning of Data dropingn NULL larger values
data_set.dropna(axis = 0, inplace = True)

print(data_set)

#For the information od datatype
print("\n")
print(data_set.info())

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
12      45.0           125       150            330.0         8.0          8.0


<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     object
 2   Max_Pulse        10 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(4), object(2)
memory usage: 560.0+ bytes
None

In [9]:
#Convert the object type to float for data manipulation
data_set['Average_Pulse'] = data_set['Average_Pulse'].astype(float)
data_set['Max_Pulse'] = data_set['Max_Pulse'].astype(float)

print(data_set)

    Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  \
0       30.0           80.0      120.0            240.0        10.0
1       45.0           85.0      120.0            250.0        10.0
2       45.0           90.0      130.0            260.0         8.0
3       60.0           95.0      130.0            270.0         8.0
4       60.0          100.0      140.0            280.0         0.0
6       60.0          105.0      140.0            290.0         7.0
7       60.0          110.0      145.0            300.0         7.0
9       45.0          115.0      145.0            310.0         8.0
10      60.0          120.0      150.0            320.0         0.0
12      45.0          125.0      150.0            330.0         8.0

    Hours_Sleep
0           7.0
1           7.0
2           7.0
3           7.0
4           7.0
6           8.0
7           8.0
9           8.0
10          8.0
12          8.0

In [10]:
#Data Anaylsis
print(data_set.describe())

        Duration  Average_Pulse   Max_Pulse  Calorie_Burnage  Hours_Work  \
count  10.000000      10.000000   10.000000        10.000000   10.000000
mean   51.000000     102.500000  137.000000       285.000000    6.600000
std    10.488088      15.138252   11.352924        30.276504    3.627059
min    30.000000      80.000000  120.000000       240.000000    0.000000
25%    45.000000      91.250000  130.000000       262.500000    7.000000
50%    52.500000     102.500000  140.000000       285.000000    8.000000
75%    60.000000     113.750000  145.000000       307.500000    8.000000
max    60.000000     125.000000  150.000000       330.000000   10.000000

       Hours_Sleep
count    10.000000
mean      7.500000
std       0.527046
min       7.000000
25%       7.000000
50%       7.500000
75%       8.000000
max       8.000000